################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ConsoleAppCSharpOtusStack/.vs
/.vs
/ConsoleAppCSharpOtusStack/obj/
/ConsoleAppCSharpOtusStack/bin/
/ConsoleAppCSharpOtusStack/ConsoleAppCSharpOtusStack/obj
